{% extends "_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from
            {{ provider }}.{% endblocktrans %}</p>
    {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
            {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="button" type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Continue</button>
    </form>
{% endblock %}