{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Login / Signup</h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <div>
                    <div class="grid grid-cols-1 gap-3">
                      {% if not IS_GITHUB_ACTIONS %}
                            <form action="{% provider_login_url 'google' %}" method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50">
                                    <span class="sr-only">Continue with Google</span>
                                    <img width=20
                                         src="{% static 'images/google-logo.png' %}"/>
                                </button>
                            </form>
                        {% endif %}
                            <dl class="space-y-16 sm:grid sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
                                <div>
                                  <dt class="text-base font-semibold leading-7 text-gray-900">Why do we only allow signup with certain account providers?</dt>
                                  <dd class="mt-2 text-base leading-7 text-gray-600">Our features are specifically built to leverage account information from our login providers. We are always working on integrating more providers.</dd>
                                </div>
                              </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}