{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h2>Log in</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Log in</button>
        or
        <a href="{% provider_login_url 'google' %}" class="btn btn-primary"><img width=20 src="{% static 'images/google-logo.png' %}"/> Continue with Google</a>
    </form>
{% endblock content %}