{% extends '_base.html' %}

{% block title %}Set Password{% endblock title %}

{% block content %}
    <form method="POST" action="" class="password_set">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
            <button type="submit" name="action" value="Set Password"
                    class=" inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Change Password
            </button>
        </div>
    </form>
{% endblock content %}
