{% extends '_base.html' %}
{% load static %}

{% block title %}{{ user.company }} Add Team{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Team to {{ user.company }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                            <button class="btn btn-primary btn-sm" type='submit'>Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}