{% extends '_base.html' %}
{% load static %}

{% block title %}{{ user.company }} Settings{% endblock title %}

{% block content %}
    <main class="mx-auto max-w-6xl px-4 pt-10 pb-12 lg:pb-16">
  <form>
    <div class="space-y-6">
      <div>
        <h1 class="text-lg font-medium leading-6 text-gray-900">{{ user.company }} Settings</h1>
        <p class="mt-1 text-sm text-gray-500">Fill in all relevant fields below!</p>
      </div>

      <div>
        <label for="project-name" class="block text-sm font-medium text-gray-700">Company Name</label>
        <div class="mt-1">
          <input type="text" name="project-name" id="project-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm" value="Project Nero">
        </div>
      </div>

      <div>
        <label for="tags" class="block text-sm font-medium text-gray-700">Tags</label>
        <input type="text" name="tags" id="tags" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 sm:text-sm">
      </div>

      <div class="flex justify-end">
        <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-sky-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">Save</button>
      </div>
    </div>
  </form>
</main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ user.company }} Settings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        Settings
                    </h5>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ company_form.name }}
                            </div>
                            <button class="btn btn-primary btn-sm" type='submit'>Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        Users
                    </h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Controls</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company_user in company_users %}
                                <tr>
                                    <th scope="row"><a
                                            href="{% url 'user_profile' company_user.email_prefix %}">{{ company_user.name }}</a>
                                    </th>
                                    <td>{{ company_user.email }}</td>
                                    <td>
                                        <a href="{% url 'remove_user' company_user.email_prefix %}"
                                           class="btn btn-sm btn-danger"><img
                                                src="{% static 'icons/trash-light.svg' %}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="d-flex justify-content-between align-items-center">
                                    Locations
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <a href="{% url 'add_location' %}" class="btn btn-primary btn-sm">Add Location</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number of Employees</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr>
                                    <th scope="row">{{ location.name }}</th>
                                    <td>{{ location.user_set.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h5 class="d-flex justify-content-between align-items-center">
                                    Teams
                                </h5>
                            </div>
                            <div class="col-md-2 text-right">
                                <a href="{% url 'add_team' %}" class="btn btn-primary btn-sm">Add Team</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number of Employees</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in teams %}
                                <tr>
                                    <th scope="row">{{ team.name }}</th>
                                    <td>{{ team.user_set.count }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}