{% extends '_base.html' %}
{% load static %}

{% block title %}Create a Company{% endblock title %}

{% block content %}
    <div class="container">
    <div class="row">
            <div class="col-md-12">
                <h1>Create your Company</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'create_company' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        {{ form.url }}
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
