{% extends '_base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}Editing Profile{% endblock title %}

{% block content %}
    <main class="mx-auto max-w-6xl px-4 pb-12 lg:pb-16">
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
            <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
                <div>
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Editing {{ user.name }}'s Profile</h3>
                    <p class="mt-1 max-w-3xl text-sm text-gray-500">All fields are optional, but keep in mind that filling out more fields will result in a more personalized experience.</p>
                </div>
            </div>
        </div>
        <br>
        <form class="mt-3 sm:items-center" action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Basic Information</h3>
                    <div class="space-y-6 sm:space-y-5">
                        <div class="rounded-md px-3 pt-2.5 pb-1.5">
                            <label for="photo" class="block text-xs font-medium text-gray-900">Photo</label>
                            {{ form.profile_picture | as_crispy_field }}
                            <br>
                            <label for="first_name" class="block text-xs font-medium text-gray-900">First Name</label>
                            {{ form.first_name }}
                            <br>
                            <label for="last_name" class="block text-xs font-medium text-gray-900">Last Name</label>
                            {{ form.last_name }}
                            <br>
                            <label for="title" class="block text-xs font-medium text-gray-900">Title</label>
                            {{ form.title }}
                            <br>
                            <label for="Team" class="block text-xs font-medium text-gray-900">Team</label>
                            {{ form.team }}
                            <br>
                            <label for="general_location" class="block text-xs font-medium text-gray-900">Location</label>
                            {{ form.general_location }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
                    <div class="space-y-6 sm:space-y-5">
                        <div class="rounded-md px-3 pt-2.5 pb-1.5">
                            <label for="short_bio" class="block text-xs font-medium text-gray-900">Bio</label>
                            {{ form.short_bio }}
                            <br>
                            <label for="personality_type" class="block text-xs font-medium text-gray-900">Personality Type</label>
                            {{ form.personality_type }}
                            <small>If you are unsure about which personality type you are, find out <a href="https://www.16personalities.com/free-personality-test">here</a></small>
                            <br>
                            <label for="day_or_night" class="block text-xs font-medium text-gray-900 pt-3">Early Bird or Night Owl</label>
                            {{ form.day_or_night}}
                            <br>
                            <label for="chinese_zodiac" class="block text-xs font-medium text-gray-900 pt-3">Chinese Zodiac</label>
                            {{ form.chinese_zodiac }}
                            <small>Find out your chinese zodiac <a href="https://www.travelchinaguide.com/intro/social_customs/zodiac/">here</a></small>
                            <br>
                            <label for="zodiac_sign" class="block text-xs font-medium text-gray-900 pt-3">Zodiac Sign</label>
                            {{ form.zodiac_sign }}
                            <small>Find out your zodiac sign <a href="https://whatismysign.net">here</a></small>
                            <br>
                            <label for="favourite_food" class="block text-xs font-medium text-gray-900 pt-3">Favourite Food</label>
                            {{ form.favourite_food }}
                            <br>
                            <label for="favourite_movie" class="block text-xs font-medium text-gray-900">Favourite Movie</label>
                            {{ form.favourite_movie }}
                            <br>
                            <label for="favourite_travel_destination" class="block text-xs font-medium text-gray-900">Favourite Travel Destination</label>
                            {{ form.favourite_travel_destination }}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Links</h3>
                    <div class="space-y-6 sm:space-y-5">
                        <div class="rounded-md px-3 pt-2.5 pb-1.5">
                            <label for="linkedin" class="block text-xs font-medium text-gray-900">LinkedIn</label>
                            <div class="mt-1 sm:col-span-2 sm:mt-0">
                                <div class="flex max-w-lg rounded-md shadow-sm">
                                    <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm">linkedin.com/in/</span>
                                    {{ form.linkedin }}
                                </div>
                            </div>
                            <br>
                            <label for="twitter" class="block text-xs font-medium text-gray-900">Twitter</label>
                            <div class="mt-1 sm:col-span-2 sm:mt-0">
                                <div class="flex max-w-lg rounded-md shadow-sm">
                                    <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm">twitter.com/</span>
                                    {{ form.twitter }}
                                </div>
                            </div>
                            <br>
                            <label for="github" class="block text-xs font-medium text-gray-900">Github</label>
                            <div class="mt-1 sm:col-span-2 sm:mt-0">
                                <div class="flex max-w-lg rounded-md shadow-sm">
                                    <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm">github.com/</span>
                                    {{ form.github }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Address</h3>
                    <p class="mt-1 max-w-3xl text-sm text-gray-500">Only city/state will be shared on the map. The rest of the information is used to more precisely place your point on the map and give a more accurate company midpoint.</p>
                    <div class="space-y-6 sm:space-y-5">
                        <div class="rounded-md px-3 pt-2.5 pb-1.5">
                            <label for="address_1" class="block text-xs font-medium text-gray-900">Address</label>
                            {{ form.address_1 }}
                            <br>
                            <label for="city" class="block text-xs font-medium text-gray-900">City</label>
                            {{ form.city }}
                            <br>
                            <label for="prov_state" class="block text-xs font-medium text-gray-900">State / Province</label>
                            {{ form.prov_state }}
                            <br>
                            <label for="country" class="block text-xs font-medium text-gray-900">Country</label>
                            {{ form.country }}
                            <br>
                            <label for="postal_code" class="block text-xs font-medium text-gray-900">ZIP / Postal Code</label>
                            {{ form.postal_code }}
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <br>
            <button type="submit"
                    class=" inline-flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm">
                Submit
            </button>
            <a type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" href="{% url 'user_profile' user.email_prefix %}">Cancel</a>
        </form>
    </main>

{% endblock content %}
