{% extends '_base.html' %}
{% load static %}

{% block title %}{{ user.company }} Map{% endblock title %}

{% block content %}
    <main class="mx-auto max-w-6xl px-4 pb-12 lg:pb-16">
        <div class="bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Company Map</h3>
                <div>
                    <div id="map" width="100%" style='height:400px'></div>
                    <script>
                        mapboxgl.accessToken = '{{ api_key }}';
                        const map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v12',
                            center: [{{ mid_lng }}, {{ mid_lat }}],
                            zoom: 6
                        });

                        map.on('load', () => {
                            map.addSource('places', {
                                'type': 'geojson',
                                'data': {
                                    'type': 'FeatureCollection',
                                    'features': [
                                        {% for lng, lat, team_name in user_points %}
                                            {
                                                'type': 'Feature',
                                                'properties': {
                                                    'description':
                                                        '<strong>{{ team_name }}</strong>'
                                                },
                                                'geometry': {
                                                    'type': 'Point',
                                                    'coordinates': [{{ lng }}, {{ lat }}]
                                                }
                                            },
                                        {% endfor %}
                                    ]
                                }
                            });
                            map.addControl(new mapboxgl.NavigationControl());
                            // Add a layer showing the places.
                            map.addLayer({
                                'id': 'places',
                                'type': 'circle',
                                'source': 'places',
                                'paint': {
                                    'circle-color': '#4264fb',
                                    'circle-radius': 6,
                                    'circle-stroke-width': 2,
                                    'circle-stroke-color': '#ffffff'
                                }
                            });

                            // Create a popup, but don't add it to the map yet.
                            const popup = new mapboxgl.Popup({
                                closeButton: false,
                                closeOnClick: false
                            });

                            map.on('mouseenter', 'places', (e) => {
                                // Change the cursor style as a UI indicator.
                                map.getCanvas().style.cursor = 'pointer';

                                // Copy coordinates array.
                                const coordinates = e.features[0].geometry.coordinates.slice();
                                const description = e.features[0].properties.description;

                                // Ensure that if the map is zoomed out such that multiple
                                // copies of the feature are visible, the popup appears
                                // over the copy being pointed to.
                                while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                                    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                                }

                                // Populate the popup and set its coordinates// based on the feature found.
                                popup.setLngLat(coordinates).setHTML(description).addTo(map);
                            });

                            map.on('mouseleave', 'places', () => {
                                map.getCanvas().style.cursor = '';
                                popup.remove();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
