{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}{{ company_user.name }}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h1>{{ company_user.name }}</h1>
                                {% if company_user.title %}<h4>{{ company_user.title }}</h4>{% endif %}
                                <img class="card-img-top img-max d-block rounded"
                                     src="{{ company_user.profile_picture_url }}"/>
                            </div>
                            {% if company_user == user %}
                            <div class="col-md-2 text-right">
                                <a class="btn btn-primary btn-sm" href="{% url 'edit_profile' %}">Edit Profile</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if company_user.short_bio %}
                            <p>{{ company_user.short_bio | linebreaks }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}