{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}{{ profile.name }}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ profile.name }}</h1>
                        <h4>{{ profile.title }}</h4>
                        <img class="card-img-top img-max mx-auto d-block rounded" src="{{ profile.profile_picture_url }}"/>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}