{% extends '_base.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block content %}
    <div class="relative overflow-hidden bg-white py-16">
        <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
            <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
                <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
                </svg>
                <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
                </svg>
                <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
                </svg>
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-prose text-lg">
                <h1>
                    <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Privacy Policy</span>
                    <span class="block text-center text-lg font-semibold text-indigo-600">Last Updated: February 8th, 2023</span>
                </h1>
            </div>
            <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">www.Team.Bio (the "Site") is owned and operated by Aaron Spindler. Aaron Spindler is the data controller and can be contacted at: <br><br>aaron@team.bio
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Purpose</span><br>The purpose of this privacy policy (this "Privacy Policy") is to
                    inform users of our Site of the following:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>The personal data we will collect;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="2"><span>Use of collected data;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="3"><span>Who has access to the data collected;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="4"><span>The rights of Site users; and</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="5"><span>The Site's cookie policy.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">This Privacy Policy applies in addition to the terms and conditions of our Site.
                </p>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">GDPR</span><br>For users in the European Union, we adhere to the Regulation
                        (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016, known as the General Data Protection Regulation (the "GDPR"). For users in the United Kingdom, we adhere to the GDPR as enshrined in the Data Protection Act 2018.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Consent</span><br>By using our Site users agree that they consent to:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span>The conditions set out in this Privacy Policy.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ol>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">When the legal basis for us processing your personal data is that you have provided your consent to that processing, you may withdraw your consent at any
                        time. If you withdraw your consent, it will not make processing which we completed before you withdrew your consent unlawful.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">You can withdraw your consent by: Contacting support.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Legal Basis for Processing</span><br>We collect and process personal data about
                        users in the EU only when we have a legal basis for doing so under Article 6 of the GDPR. <br><br>We rely on the following legal bases to collect and process the personal data of users in the EU:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span>Users have provided their consent to the processing of their data for one or more specific purposes; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="2"><span>Processing of user personal data is necessary for us or a third pary to pursue a legitimate interest. Our legitimate interest is not overriden by the interests or fundamenal rights and freedoms of users. Our legitimate interest(s) are: Utilizing data to connect and share information with their company co-workers..</span><span
                                style="color:#000000;"><br></span>
                        </li>
                    </ol>
                </div>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Personal Data We Collect</span><br>We only collect data that helps us achieve the
                    purpose set out in this Privacy Policy. We will not collect any additional data beyond the data listed below without notifying you first.<br><br>
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="text-decoration:underline;">Data Collected Automatically</span><br>When you visit and use our Site, we may automatically collect and store the
                    following information:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>IP address;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="2"><span>Location;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="3"><span>Hardware and software details;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="4"><span>Clicked links; and</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="5"><span>Content viewed.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="text-decoration:underline;">Data Collected in a Non-Automatic Way</span><br>We may also collect the following data when you perform certain
                    functions on our Site:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>First and last name;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="2"><span>Email address;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="3"><span>Phone number;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="4"><span>Address;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="5"><span>Payment information; and</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="6"><span>Auto fill data.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">This data may be collected using the following methods:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>Profile form submission and account signup.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">How We Use Personal Data</span><br>Data collected on our Site will only be used for
                    the purposes specified in this Privacy Policy or indicated on the relevant pages of our Site. We will not use your data beyond what we disclose in this Privacy Policy.<br><br>The data we collect automatically is used for the following purposes:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>Statistics.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">The data we collect when the user performs certain functions may be used for the following purposes:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>This data is used to connect and share information with co-workers inside of their company..</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Who We Share Personal Data With</span><br><span style="text-decoration:underline;">Employees</span><br>We
                    may disclose user data to any member of our organization who reasonably needs access to user data to achieve the purposes set out in this Privacy Policy.
                </p>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="text-decoration:underline;">Other Disclosures</span><br>We will not sell or share your data with other third parties, except in the following
                        cases:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span>If the law requires it;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="2"><span>If it is required for any legal proceeding;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="3"><span>To prove or protect our legal rights; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="4"><span>To buyers or potential buyers of this company in the event that we seek to sell the company.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ol>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">If you follow hyperlinks from our Site to another Site, please note that we are not responsible for and have no control over their privacy policies and
                        practices.
                    </p></div>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">How Long We Store Personal Data</span><br>User data will be stored until the
                    purpose the data was collected for has been achieved.<br><br>You will be notified if your data is kept for longer than this period.
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">How We Protect Your Personal Data</span><br>In order to protect your security, we
                    use the strongest available browser encryption and store all of our data on servers in secure facilities. All data is only accessible to our employees. Our employees are bound by strict confidentiality agreements and a breach of this agreement would result in the employee's
                    termination.<br><br>While we take all reasonable precautions to ensure that user data is secure and that users are protected, there always remains the risk of harm. The Internet as a whole can be insecure at times and therefore we are unable to guarantee the security of user data
                    beyond what is reasonably practical.
                </p>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">International Data Transfers</span><br>We transfer user personal data to the
                        following countries:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span>Canada; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="2"><span>United States of America.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ol>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">When we transfer user personal data we will protect that data as described in this Privacy Policy and comply with applicable legal requirements for
                        transferring personal data internationally.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">If you are located in the United Kingdom or the European Union, we will only transfer your personal data if:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span>The country your personal data is being transferred to has been deemed to have adequate data protection by the European Commission or, if you are in the United Kingdom, by the United Kingdom adequacy regulations; or</span><span style="color:#000000;"><br></span>
                        </li>
                        <li value="2">
                            <span>We have implemented appropriate safeguards in respect of the transfer. For example, the recipient is a party to binding corporate rules, or we have entered into standard EU or United Kingdom data protection contractual clauses with the recipient..</span><span
                                style="color:#000000;"><br></span>
                        </li>
                    </ol>
                </div>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Your Rights as a User</span><br>Under the GDPR, you have the following rights:
                </p>
                <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                    <li value="1"><span>Right to be informed;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="2"><span>Right of access;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="3"><span>Right to rectification;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="4"><span>Right to erasure;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="5"><span>Right to restrict processing;</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="6"><span>Right to data portability; and</span><span style="color:#000000;"><br></span>
                    </li>
                    <li value="7"><span>Right to object.</span><span style="color:#000000;"><br></span>
                    </li>
                </ol>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Children</span><br>We do not knowingly collect or use personal data from
                        children under 16 years of age. If we learn that we have collected personal data from a child under 16 years of age, the personal data will be deleted as soon as possible. If a child under 16 years of age has provided us with personal data their parent or guardian may contact
                        our data protection officer.
                    </p></div>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">How to Access, Modify, Delete, or Challenge the Data Collected</span><br>If you
                    would like to know if we have collected your personal data, how we have used your personal data, if we have disclosed your personal data and to who we disclosed your personal data, if you would like your data to be deleted or modified in any way, or if you would like to exercise
                    any of your other rights under the GDPR, please contact our data protection officer here:<br><br>Aaron Spindler<br>aaron@team.bio
                </p>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Do Not Track Notice</span><br>Do Not Track ("DNT") is a privacy preference that
                        you can set in certain web browsers. We do not track the users of our Site over time and across third party websites and therefore do not respond to browser-initiated DNT signals.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Cookie Policy</span><br>A cookie is a small file, stored on a user's hard drive
                        by a website. Its purpose is to collect data relating to the user's browsing habits. You can choose to be notified each time a cookie is transmitted. You can also choose to disable cookies entirely in your internet browser, but this may decrease the quality of your user
                        experience.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">We use the following types of cookies on our Site:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li value="1"><span style="text-decoration:underline;">Functional cookies</span><br>Functional cookies are used to remember the selections you make on our Site so that your selections are saved for your next visits;<span style="color:#000000;"><br></span>
                        </li>
                        <li value="2"><span style="text-decoration:underline;">Analytical cookies</span><br>Analytical cookies allow us to improve the design and functionality of our Site by collecting data on how you access our Site, for example data on the content you access, how long you stay on
                            our Site, etc; and<span style="color:#000000;"><br></span>
                        </li>
                        <li value="3"><span style="text-decoration:underline;">Third-Party Cookies</span><br>Third-party cookies are created by a website other than ours. We may use third-party cookies to achieve the following purposes:<span style="color:#000000;"><br></span>
                            <ol start="1" style="list-style:lower-alpha;">
                                <li style="margin-bottom:0.0pt;" value="1"><span>Collect information about the users of Team Bio for the purposes of analytics.</span><span style="color:#000000;"><br></span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Modifications</span><br>This Privacy Policy may be amended from time to time in
                    order to maintain compliance with the law and to reflect any changes to our data collection process. When we amend this Privacy Policy we will update the "Effective Date" at the top of this Privacy Policy. We recommend that our users periodically review our Privacy Policy to
                    ensure that they are notified of any updates. If necessary, we may notify users by email of changes to this Privacy Policy.
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Complaints</span><br>If you have any complaints about how we process your personal
                    data, please contact us through the contact methods listed in the <span style="font-style:italic;font-weight:normal;">Contact Information</span> section so that we can, where possible, resolve the issue. If you feel we have not addressed your concern in a satisfactory manner you
                    may contact a supervisory authority. You also have the right to directly make a complaint to a supervisory authority.
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact Information</span><br>If you have any questions, concerns or complaints,
                    you can contact our data protection officer, Aaron Spindler, at:<br><br>aaron@team.bio
            </div>
        </div>
    </div>
{% endblock content %}
