{% extends '_base.html' %}
{% load static %}

{% block title %}Terms of Service{% endblock title %}

{% block content %}
    <div class="relative overflow-hidden bg-white py-16">
        <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
            <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
                <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
                </svg>
                <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
                </svg>
                <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
                    <defs>
                        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
                </svg>
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-prose text-lg">
                <h1>
                    <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Terms of Service</span>
                    <span class="block text-center text-lg font-semibold text-indigo-600">Last Updated: March 22nd, 2023</span>
                </h1>
            </div>
            <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
                </p>
                <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">These terms and conditions (the "Terms and Conditions") govern the use of <span style="font-style:normal;font-weight:bold;">www.team.bio</span> (the "Site").
                    This Site is owned and operated by Aaron Spindler.<br><br>By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.
                </p>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Intellectual Property</span><br>All content published and made available on our
                        Site is the property of Team Bio and the Site's creators. This includes, but is not limited to images, text, logos, documents, downloadable files and anything that contributes to the composition of our Site.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Acceptable Use</span><br>As a user of our Site, you agree to use our Site
                        legally, not to use our Site for illegal purposes, and not to:
                    </p>
                    <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
                        <li style="margin-bottom:18.0pt;" value="1"><span>Harass or mistreat other users of our Site;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:18.0pt;" value="2"><span>Violate the rights of other users of our Site;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:18.0pt;" value="3"><span>Violate the intellectual property rights of the Site owners or any third party to the Site;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:18.0pt;" value="4"><span>Hack into the account of another user of the Site;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:18.0pt;" value="5"><span>Act in any way that could be considered fraudulent; or</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:0.0pt;" value="6"><span>Post any material that may be deemed inappropriate or offensive.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ul>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">If we believe you are using our Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend or terminate
                        your access to our Site. We also reserve the right to take any legal steps necessary to prevent you from accessing our Site.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">User Contributions</span><br>Users may post the following information on our
                        Site:
                    </p>
                    <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
                        <li style="margin-bottom:18.0pt;" value="1"><span>Photos;</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:18.0pt;" value="2"><span>Public comments; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:0.0pt;" value="3"><span>Personal information.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ul>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">By posting publicly on our Site, you agree not to act illegally or violate these Terms and Conditions.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Accounts</span><br>When you create an account on our Site, you agree to the
                        following:
                    </p>
                    <ol start="1" style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:decimal;">
                        <li style="margin-bottom:18.0pt;" value="1"><span>You are solely responsible for your account and the security and privacy of your account, including passwords or sensitive information attached to that account; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:0.0pt;" value="2"><span>All personal information you provide to us through your account is up to date, accurate, and truthful and that you will update your personal information if it changes.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ol>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">We reserve the right to suspend or terminate your account if you are using our Site illegally or if you violate these Terms and Conditions.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Sale of Services</span><br>These Terms and Conditions govern the sale of
                        services available on our Site.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">The following services are available on our Site:
                    </p>
                    <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
                        <li style="margin-bottom:0.0pt;" value="1"><span>Subscription for Site Usage.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ul>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">The services will be paid for in full monthly after trial period.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">These Terms and Conditions apply to all the services that are displayed on our Site at the time you access it. All information, descriptions, or images
                        that we provide about our services are as accurate as possible. However, we are not legally bound by such information, descriptions, or images as we cannot guarantee the accuracy of all services we provide. You agree to purchase services from our Site at your own risk.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">We reserve the right to modify, reject or cancel your order whenever it becomes necessary. If we cancel your order and have already processed your payment,
                        we will give you a refund equal to the amount you paid. You agree that it is your responsibility to monitor your payment instrument to verify receipt of any refund.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">User Goods and Services</span><br>Our Site allows users to sell goods and
                        services. We do not assume any responsibility for the goods and services users sell on our Site. We cannot guarantee the quality or accuracy of any goods and services sold by users on our Site. However, if we are made aware that a user is violating these Terms and Conditions,
                        we reserve the right to suspend or prohibit the user from selling goods and services on our Site.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Subscriptions</span><br>Your subscription automatically renews and you will be
                        automatically billed until we receive notification that you want to cancel the subscription.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">To cancel your subscription, please follow these steps: Subscription can be cancelled at any time either by contacting support@team.bio or by cancelling
                        through the company settings page.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Free Trial</span><br>We offer the following free trial of our services: A 30
                        day free trial that begins when users create a new company in the application.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">At the end of your free trial, the following will occur: You will need to link your payment method to continue using the site. If no payment method is
                        linked, you will be automatically locked from most site features.
                    </p>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">To cancel your free trial, please follow these steps: Log in to your account and select "Unlink Payment Method" in the Company Settings page.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Payments</span><br>We accept the following payment methods on our Site:
                    </p>
                    <ul style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;list-style:disc;">
                        <li style="margin-bottom:18.0pt;" value="1"><span>Credit Card; and</span><span style="color:#000000;"><br></span>
                        </li>
                        <li style="margin-bottom:0.0pt;" value="2"><span>Debit.</span><span style="color:#000000;"><br></span>
                        </li>
                    </ul>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;">When you provide us with your payment information, you authorize our use of and access to the payment instrument you have chosen to use. By providing us
                        with your payment information, you authorize us to charge the amount due to this payment instrument.<br><br>If we believe your payment has violated any law or these Terms and Conditions, we reserve the right to cancel or reverse your transaction.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Consumer Protection Law</span><br>Where the <span
                            style="font-style:italic;font-weight:normal;">Consumer Protection Act</span>, or any other consumer protection legislation in your jurisdiction applies and cannot be excluded, these Terms and Conditions will not limit your legal rights and remedies under that legislation.
                        These Terms and Conditions will be read subject to the mandatory provisions of that legislation. If there is a conflict between these Terms and Conditions and that legislation, the mandatory provisions of the legislation will apply.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Links to Other Websites</span><span
                            style="text-decoration:underline;"><br></span>Our Site contains links to third party websites or services that we do not own or control. We are not responsible for the content, policies, or practices of any third party website or service linked to on our Site. It is your
                        responsibility to read the terms and conditions and privacy policies of these third party websites before using these sites.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Limitation of Liability</span><br>Aaron Spindler and our directors, officers,
                        agents, employees, subsidiaries, and affiliates will not be liable for any actions, claims, losses, damages, liabilities and expenses including legal fees from your use of the Site.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnity</span><br>Except where prohibited by law, by using this Site you
                        indemnify and hold harmless Aaron Spindler and our directors, officers, agents, employees, subsidiaries, and affiliates from any actions, claims, losses, damages, liabilities and expenses including legal fees arising out of your use of our Site or your violation of these
                        Terms and Conditions.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Applicable Law</span><br>These Terms and Conditions are governed by the laws of
                        the Province of Ontario.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Severability</span><br>If at any time any of the provisions set forth in these
                        Terms and Conditions are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms and Conditions. All other provisions will not be affected by the removal and the rest of these Terms and Conditions
                        will still be considered valid.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Changes</span><br>These Terms and Conditions may be amended from time to time
                        in order to maintain compliance with the law and to reflect any changes to the way we operate our Site and the way we expect users to behave on our Site. We will notify users by email of changes to these Terms and Conditions or post a notice on our Site.
                    </p></div>
                <div>
                    <p style="line-height:18.0pt;font-size:12.0pt;line-height:18.0pt;font-family:Times New Roman;color:#000000;text-align:Left;"><span style="font-style:normal;font-weight:bold;text-decoration:underline;">Contact Details</span><br>Please contact us if you have any questions or
                        concerns. Our contact details are as follows:<br>support@team.bio
                    </p></div>
            </div>
        </div>
    </div>
{% endblock content %}
