<li>
    <img class="mx-auto object-contain" src="{{ pet.picture_url }}" alt="">
    <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">{{ pet.name }} {% if pet.nickname %}<small>"{{ pet.nickname }}"</small>{% endif %}</h3>
    <p class="text-sm leading-6 text-gray-600">{{ pet.pet_type.name }}</p>
    {% if show_buttons %}
        <br>
        <form action="{% url 'delete_pet' pet.pk %}" method="post">
            <a type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" href="{% url 'update_pet' pet.pk %}">Edit</a>
            <button type="submit"
                    class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                Delete
            </button>
            {% csrf_token %}
        </form>
    {% endif %}
</li>