{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>TeamBio - {% block title %}{% endblock title %}</title>
    <meta name="description" content="A resource to learn more about your team">
    <meta name="author" content="">
    {#<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">#}

    {% block css %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>

<body>
<main role="main">
    <header class="bg-indigo-600">
        <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
            <div class="flex w-full items-center justify-between border-b border-indigo-500 py-6 lg:border-none">
                <div class="flex items-center">
                    <a href="{% url 'home' %}">
                        <span class="sr-only">Team Bio</span>
                        <img class="h-10 w-auto" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                    <div class="ml-10 hidden space-x-8 lg:block">
                        {% if user.is_authenticated %}
                            <a href="{% url 'company_home' %}" class="text-base font-medium text-white hover:text-indigo-50">Home</a>

                            <a href="{% url 'user_profile' user.email_prefix %}" class="text-base font-medium text-white hover:text-indigo-50">My Profile</a>
                            {% if user in user.company.get_owners %}#}
                                <a href="{% url 'company_settings' %}" class="text-base font-medium text-white hover:text-indigo-50">Settings</a>
                            {% endif %}

                            {% if user.is_superuser %}
                                <a href="/admin" class="text-base font-medium text-white hover:text-indigo-50">Admin</a>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
                <div class="ml-10 space-x-4">
                    {% if user.is_authenticated == False %}
                        <a href="{% url 'account_login' %}" class="inline-block rounded-md border border-transparent bg-indigo-500 py-2 px-4 text-base font-medium text-white hover:bg-opacity-75">Log in</a>
                        <a href="{% url 'account_signup' %}" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium text-indigo-600 hover:bg-indigo-50">Sign up</a>
                    {% else %}
                        <a href="{% url 'account_logout' %}" class="inline-block rounded-md border border-transparent bg-white py-2 px-4 text-base font-medium text-indigo-600 hover:bg-indigo-50">Log out</a>

                    {% endif %}
                </div>
            </div>
            <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
                {% if user.is_authenticated %}
                    <a href="{% url 'company_home' %}" class="text-base font-medium text-white hover:text-indigo-50">Home</a>
                    <a href="{% url 'user_profile' user.email_prefix %}" class="text-base font-medium text-white hover:text-indigo-50">My Profile</a>
                    {% if user in user.company.get_owners %}
                        <a href="{% url 'company_settings' %}" class="text-base font-medium text-white hover:text-indigo-50">Settings</a>
                    {% endif %}
                {% endif %}
            </div>
        </nav>
    </header>
</main>

<div class="container">
    <br>
    {% block content %}

    {% endblock content %}
</div>

<footer class="footer">
    <div class="container text-center">
        <small class="text-muted">Proudly built in the open on <a href="https://github.com/aaronspindler/Team.Bio">Github</a></small>
    </div>
</footer>



{% block javascript %}
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!-- 3rd party JavaScript -->

    <!-- Project JS -->
    <script src="{% static 'js/base.js' %}"></script>

{% endblock javascript %}
<!-- 100% privacy friendly analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""
               referrerpolicy="no-referrer-when-downgrade"/></noscript>
</body>
</html>
