{% extends '_base.html' %}
{% load static %}

{% block title %}
  {{ user.company.name }} Trivia Management
{% endblock %}

{% block content %}
  <div class="bg-white">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
      <div class="space-y-12">
        <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
          <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">{{ user.company }} Trivia Management</h2>
        </div>
          <div class="mt-4">
            <form action="{% url 'generate_question' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="rounded-md bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-indigo-300 hover:bg-indigo-600">Generate GPT-4 Question</button>
            </form>
          </div>
        <ul role="list" class="divide-y divide-gray-100">
          {% for question in questions %}
            <li class="flex items-center justify-between gap-x-6 py-5">
              <div class="min-w-0">
                <div class="flex items-start gap-x-3">
                  <p class="text-sm font-semibold leading-6 text-gray-900">{{ question.question }}</p>
                </div>
                <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                  <p class="whitespace-nowrap">Created {{ question.created|timesince }} ago</p>
                  <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                    <circle cx="1" cy="1" r="1" />
                  </svg>
                  {% if question.published %}
                    <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-green-700 bg-green-50 ring-green-600/20">Published</p>
                  {% else %}
                    <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset text-yellow-700 bg-yellow-50 ring-yellow-600/20">Draft</p>
                  {% endif %}
                </div>
              </div>
              <div class="flex flex-none items-center gap-x-4">
                {% if not question.published %}
                  <form action="{% url 'publish_trivia_question' question.pk %}" method="POST">
                    <button type="submit" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Publish</button>
                    {% csrf_token %}
                  </form>
                {% endif %}
                <a href="{% url 'edit_trivia_question' question.pk %}" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Edit</a>
                <form action="{% url 'delete_trivia_question' question.pk %}" method="POST">
                  <button type="submit" class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-red-900 shadow-sm ring-1 ring-inset ring-red-900 hover:bg-gray-50 sm:block">Delete</button>
                  {% csrf_token %}
                </form>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
